@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <div class="col-md-4"  id="container">

    </div>
</div>
<div class="row">
    <div class="col-md-4" id="Propcontainer">

    </div>
</div>


<script src="~/Scripts/jquery-1.10.2.min.js"></script>
@*<script src="~/Scripts/react/react.min.js"></script>*@
<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/Jsx/HelloWorld.jsx"></script>
<script src="~/Scripts/react/react-dom.min.js"></script>
@*<script src="~/Scripts/Jsx/Props.jsx"></script>*@
<script src="~/Scripts/Jsx/XMLLoad.jsx"></script>

