
@{
    ViewBag.Title = "AddEmployee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-sm-12">
        <div id="AddEmployeeContainer">

        </div>

    </div>
</div>

<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/react/react-dom.min.js"></script>
<script src="~/Scripts/Jsx/AddEmployee.jsx"></script>
