
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row">
    <div class="col-sm-6">
        <h2>Index</h2>
    </div>
    <div class="col-sm-6">
        <a href="/Employee/AddEmployee" class="btn btn-primary pull-right" style="margin-top:20px;" >Add Employee</a>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div id="container">

        </div>
    </div>
</div>


<script src="~/Scripts/react/react.js"></script>
<script src="~/Scripts/react/react-dom.min.js"></script>
<script src="~/Scripts/Jsx/Employee.jsx"></script>
